<div class="container mt-5 mb-5">

    <h1 class="text-center">About</h1>

    <p>
        Established in 2009, Violet & Purple Fashion Jewellery Pvt. Ltd has become the top choice for high quality Designer Fashion Jewelry Online at the best prices. Discover extraordinary imitation jewelry in Hyderabad with the finest collections and the best prices. Explore a plethora of exotic designs, ranging from the exquisitely carved Temple Jewelry of the South , to the more vibrant and more ethnic designs of 1 gram gold jewellery with CZ stones of the North, and of course, many more designs as well.

We have a total of ten retail outlets - seven in Hyderabad and one in Kakinada & two in Visakhapatnam. Drop by any of our stores for an out-of-the-world designer jewelry experience. Trendy, casual, modern yet appealing and designer jewellery online are at your one and only fashion jewelry destination hyderabad: Violet & Purple.

Our Vision:

We at Violet and Purple endeavor to give our customers the most selective and excellent collection of jewelry and satisfy them with our outstanding service and quality. With its wide collection of Indian and Western fashion jewelry, Violet & Purple will charm you with its exceptional quality and gratify you with its outstanding customer service.
    </p>

</div>